<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1024155004466-gsh5i3ir6jha1iat9s8ljelhsp8asj1e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1024155004466-gsh5i3ir6jha1iat9s8ljelhsp8asj1e</string>
	<key>API_KEY</key>
	<string>AIzaSyBafySPSG3S0j236S-v5juI2WDDaGl_upU</string>
	<key>GCM_SENDER_ID</key>
	<string>1024155004466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thespiritninja.yougots2code</string>
	<key>PROJECT_ID</key>
	<string>yougots2code</string>
	<key>STORAGE_BUCKET</key>
	<string>yougots2code.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024155004466:ios:6735fcda1f6a4adb69d62b</string>
</dict>
</plist>